@font-face {
	font-family: "Montserrat-Medium";
	font-weight: 500;
	src:
		local("Montserrat-Medium"),
		url("/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat-SemiBold";
	font-weight: 400;
	src:
		local("Montserrat-SemiBold"),
		url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
}

:root {
	--primary-red: #e55846;
	--primary-blue: #7da1b1;
	--primary-yellow: #f0e262;
	--black: #1f2322;
	--white: #f2f3ee;
	--error: #d6260f;
	--success: #4ed60f;

	--grey-light: #cfcfcf;
	--grey-deep: #8d969b;
	--a-white: #ffffff;

	--H1: 500 40px/40px "Montserrat-Medium";
	--H2: 500 32px/40px "Montserrat-Medium";
	--T-bold: 600 16px/24px "Montserrat-SemiBold";
	--T: 500 16px/24px "Montserrat-Medium";
	--A-bold: 600 12px/16px "Montserrat-SemiBold";
	--A: 500 12px/16px "Montserrat-Medium";
	--B: 500 16px/20px "Montserrat-Medium";
}

button {
	cursor: pointer;
}

html,
body {
	height: 100%;
	font-family: "Montserrat-SemiBold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat-SemiBold";
}
